
<div class="container">
    <h2>Step - 2</h2>
    <div class="row">
    <form  (ngSubmit)="onSubmit()" #f = "ngForm">
          <div class="row mb-3">
            <label for="formFile" class="col-sm-2 col-form-label">Choose your Image</label>
            <div class="col-sm-6">
            <input 
            class="form-control"
             type="file"
              id="formFileDisabled"
              name="image" 
              required
              ngModel
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="formFile" class="col-sm-2 col-form-label">Select Hobbies</label>
                <div class="col-sm-6">
                    <div class="checkbox" *ngFor="let hobby of hobbies">
                        <label for="checkbox">
                          <input 
                          type="checkbox"
                          name="hobbies"
                          ngModel
                          [value]="hobby"
                          required>
                          {{ hobby }}
                        </label>
                      </div>
                </div>
            </div>
          <div class="row mb-3">
            <label for="phone" class="col-sm-2 col-form-label"> Enter a phone number:</label>
            <div class="col-sm-6">
                <select class="browser-default custom-select" required >
                    <option *ngFor="let c of code " [value]="c">{{ c }}</option>
                </select> 

                <input 
                type="tel" 
                id="phone" 
                name="phone"
                placeholder="445-455-6758" 
                pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"           
                required
                ngModel>
            </div>
            <div class="row">
              <div class="col-sm-6 offset-sm-2">
                  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
              </div>
          </div>
   </div>
  </form>
</div>
<a routerLink="/step1"><button type="button" class="btn btn-primary prev">Prev</button></a>
<a routerLink="/step3"><button type="button" class="btn btn-primary next">Next</button></a>

<div class="row" *ngIf="submitted">
  <div class="col-xs-12">
    <h3>Your Data</h3>
    <p>Email: {{ user.image }}</p>
    <p>Secret Question:{{ user.phone }}</p>
    <p>Answer: {{ user.hobbies }}</p>
  </div>
</div>