
<div class="container">
    <h2>Step - 3</h2>
    <div class="row">
        <div class="row mb-3">
            <label for="inputEmail" class="col-sm-2 col-form-label">Qualification</label>
        <div class="col-sm-6">
          <select class="form-select" aria-label="Default select example">
            <option selected>Choose Option</option>
            <option value="MBA">MBA</option>
            <option value="BTech">B.Tech</option>
            <option value="BBA">BBA</option>
            <option value="Bsc">Bsc</option>
            <option value="BCom">BCom</option>
            <option value="MBBS">MBBS</option>
          </select>
    </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail" class="col-sm-2 col-form-label">Profession</label>
    <div class="col-sm-6">
      <select class="form-select" aria-label="Default select example">
        <option selected>Choose Profession</option>
        <option value="Student">I am a Student.</option>
        <option value="Employee">I am an Employee.</option>
      </select>
     </div>
    </div>
    <div class="row mb-3">
        <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Short Description</label>
        <div class="col-sm-6">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>  
      </div>
    </div>
    <a routerLink="/method1"><button type="button" class="btn btn-primary prev">Prev</button></a>
</div>