 

<div class="container">
    <h2>Step - 1</h2>
    <div class="row">
        <form>
            <div class="row mb-3">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Gender</label>
                <div class="col-sm-6">
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="gender" id="radioMale" checked>
                        <label class="form-check-label" for="radioMale">Male</label>
                    </div>
                    <div class="form-check form-check-inline ms-3">
                        <input type="radio" class="form-check-input" name="gender" id="radioFemale">
                        <label class="form-check-label" for="radioFemale">Female</label>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label for="birthday" class="col-sm-2 col-form-label">Birthday:</label>
                <div class="col-sm-6">
                <input type="date" id="birthday" name="birthday">
            </div>
            </div>
            <div class="row">
                <div class="col-sm-6 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>
        
        <!-- 
     -->
    </div>
    <a routerLink="/method1"><button type="button" class="btn btn-primary next">Next</button></a>
    
</div>